/* Note there a few "reset" styles given in reset.css. Review those before you begin */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* The common stylesheet for the entire html pages*/

/* ====Header Styling with Log */
/* Header */
/* Menu Options */
.page-header {
    display: flex;
}
.nav-toggle {
    display: inline;
}
.navigation {
    display: block;
}

/* Products */

.products {
    display: block;
    margin: 1em;
    
}

/* --Results-- */
.results {
    display: inline;
}
/* Your Products */
.product {
    display: inline-block;
    border: 1px solid black;
    margin: 1em;
}
/* Pagination */

.pages {
    display: flex;
    justify-content: center;
}

.pages > li {
    margin: calc(var(--pad-and-gap)/2);
    
}

/* page footer */
.page-footer {
    display: flex;
    justify-content: space-between;
    padding-left: var(--pad-and-gap);
    padding-right: var(--pad-and-gap);
}

.social {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding: auto;
    list-style-type: disc;
}

/* copyright */
.copyright {
    text-align: right;
}